{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}
{% block content %}
<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Index</title>  
    {% load staticfiles %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
<form method="POST" class="post-form" action="/subs/add">  
        {% csrf_token %}  
    <div class="container">  
<br>  
    <div class="form-group">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3>Enter Details</h3>  
    </div>  
  </div>   
  <div class="form-group">  
    <label class="col-sm-2 col-form-label">Plan:</label>  
    <div class="col-sm-4">  
      {{ form.plan }}  
    </div>  
  </div>  
    <div class="form-group">  
    <label class="col-sm-2 col-form-label">APP:</label>  
    <div class="col-sm-4">  
      {{ form.app }}  
    </div>  
    </div>  
    <div class="form-group">  
    <label class="col-sm-2 col-form-label">Active:</label>  
    <div class="col-sm-4">  
      {{ form.active }}  
    </div> 
     
   

    <div class="form-group">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-primary">Submit</button>  
    </div>  
  </div>  
    </div>  
</form>  
</body>  
</html>  
{% endblock %}